@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html {
  box-sizing: border-box;
  background-image:url(assets/meltmain.png);
  background-repeat: no-repeat;
  background-color: #fdcee2;
  background-position: right top;
}

body {
  margin: 0;
}
h1 {
  font-family: 'Playfair Display';
  font-size: 15vw;
  margin-top: -30%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0%;
}

.panel {
  color: white;
  text-align: left;
  /* align-items: center; */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  flex: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.panel1 { 
  width: 25%;
}
.panel2 { 
  background:#ffffff;
  color: #fdcee2;
  width: 25%;
}
.panel3 {  
  width: 25%;
}
.panel4 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
}
.panel5 { 
  background-image:url();
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
  text-align: left;
}
.panel6 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
  text-align: right;
}
.panel7 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
  text-align: left;
}
.panel8 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .panel > *:first-child { transform: translateY(70%); } */
 .panel1.open-active > *:first-child {
  display: none;
  transition: transform 0.5s; } 
  .panel2.open-active > *:first-child {
    display: none;
    transition: transform 0.5s; } 
    .panel3.open-active > *:first-child {
      display: none;
      transition: transform 0.5s; } 
 .panel1 > *:last-child { transform: translateY(100%); }
 .panel2 > *:last-child { transform: translateY(100%); } 
 .panel3 > *:last-child { transform: translateY(100%); }  
.panel1.open-active > *:last-child { transform: translateY(-15%); }
.panel2.open-active > *:last-child { transform: translateY(-15%); }
.panel3.open-active > *:last-child { transform: translateY(-15%); }

.panel p {
  font-family: 'Playfair Display';
  font-size: 2em;
  text-align: left;
  transform: rotate(-90deg);
  /* padding: 50px; */
}
.panel.open {
  flex: 15;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}