@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html {
  box-sizing: border-box;
  background-image:url(assets/meltmain.png);
  background-repeat: no-repeat;
  background-color: #fdcee2;
  background-position: right top;
}

body {
  margin: 0;
}
h1 {
  font-family: 'Playfair Display';
  font-size: 15vw;
  margin-top: -30%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0%;
}

.panel {
  color: white;
  text-align: left;
  /* align-items: center; */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  flex: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.panel1 { 
  width: 25%;
}
.panel2 { 
  background:#ffffff;
  color: #fdcee2;
  width: 25%;
}
.panel3 {  
  width: 25%;
}
.panel4 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
}
.panel5 { 
  background-image:url();
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
  text-align: left;
}
.panel6 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
  text-align: right;
}
.panel7 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
  text-align: left;
}
.panel8 { 
  background-image:url(); 
  pointer-events: none;
  box-shadow: none;
  width: 5%;
  margin-top: -30%;
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .panel > *:first-child { transform: translateY(70%); } */
 .panel1.open-active > *:first-child {
  display: none;
  transition: transform 0.5s; } 
  .panel2.open-active > *:first-child {
    display: none;
    transition: transform 0.5s; } 
    .panel3.open-active > *:first-child {
      display: none;
      transition: transform 0.5s; } 
 .panel1 > *:last-child { transform: translateY(100%); }
 .panel2 > *:last-child { transform: translateY(100%); } 
 .panel3 > *:last-child { transform: translateY(100%); }  
.panel1.open-active > *:last-child { transform: translateY(-15%); }
.panel2.open-active > *:last-child { transform: translateY(-15%); }
.panel3.open-active > *:last-child { transform: translateY(0%); }

.panel p {
  font-family: 'Playfair Display';
  font-size: 2em;
  text-align: left;
  transform: rotate(-90deg);
  /* padding: 50px; */
}
.panel3.open {
  flex: 15;
  font-size: 20px;
}
.panel.open {
  flex: 15;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
.merch {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
}

#mintshirt {
  background-image: url(assets/mint.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}
#creepshirt {
  background-image: url(assets/creepy.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}
#shorts {
  background-image: url(assets/shorts.png);
  background-position: left bottom;
  background-size: auto;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}
#ogBtn {
  background-image: url(assets/og.png);
  background-position: center;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}
.ogModal {
  display: none; 
  position: fixed; 
  z-index: +1; 
  right: 3%;
  top: 10%;
  width: 40%; 
  height: 70%; 
  overflow: scroll;
}

.modal-content {
  background-color: #fdcee2;
  border: 3px solid #ffffff;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Playfair Display';
}
#ogshirt {
  background-image: url(assets/og.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
}
.merchOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 90%;
  align-items: center;
}
.merchName {
  font-family: 'Playfair';
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  text-decoration-line: underline;
}
select {
  width: 80%;
  height: 8%;
}
.fit {
  display: flex;
  flex-direction: row;
  font-family: 'Playfair';
  color: #ffffff;
  font-size: 1em;
  text-align: left;
  display: inline-block;
  justify-content: space-around;
}
.fit h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 3px;
  text-decoration-line: underline;
}
#addToCart {
  margin-top: 6px;
  width: 80%;
  height: 8%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}