@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  box-shadow: inset 0 0 0 5px rgba(110, 190, 244, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 { 
  background-image:url(); 
}
.panel2 { 
  background-image:url();
}
.panel3 { 
  background-image:url(); 
}
.panel4 { 
  background-image:url(assets/meltmain.png);
  background-repeat: no-repeat;
  background-color: #fdcee2;
  background-position: center;
  width: 90vw; 
}
.panel4 h1 {
  font-family: 'Playfair Display';
  color: #ffffff;
  font-size: 17vw;
  margin-top: 30%;
  margin-left: 2%;
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(-125%); }

.panels p {
  font-family: 'Playfair Display';
  font-size: 2em;
  text-align: right;
  /* transform: rotate(-90deg); */
}

.panel.open {
  flex: 5;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}